/* цвет основного текста #212121 */
/* вторичній цвет #757575 */
/* белый  #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #E5E5E5 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-secondary-color: #f5f4fa;
  --primary-bg-color: #e5e5e5;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
}
/*-------------HEADER--------- */
header {
  background: #ffffff;
}
.logo-header {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.span-nav {
  color: #000000;
}
/* site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* contact nav */
.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link {
  color: var(--primary-text-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/*------------ HERO----------- */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.primary:hover {
  background-color: var(--button-secondary-color);
  color: var(--accent-color);
}
/* ---------------SKROLL SECTIONS----------- */

/* skrol list */
.skroll-list-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skroll-list-paragraph {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* -------ЧЕМ МЫ ЗАНИМАЕМСЯ-------- */
/* section title */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ---------COMMAND SECTION---------- */
.command-section {
  background-color: #f5f4fa;
}
.command-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-list-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.command-list-paragraph {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* --------ФУТЕР---------- */

.footer {
  background-color: #2f303a;
}
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.span-footer {
  color: #ffffff;
}
.footer-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact .address {
  color: var(--primary-white-color);
}
.footer-contact .address:hover,
.footer-contact .address:focus {
  color: var(--accent-color);
}
.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

/* ------------PORTFOLIO------------------- */
header {
  background: #ffffff;
}
.logo-portfolio-hed {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* portfolio site nav  */
.portfolio-site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.portfolio-site-nav .link {
  color: var(--title-text-color);
}
.portfolio-site-nav .link:hover,
.portfolio-site-nav .link:focus {
  color: var(--accent-color);
}
.portfolio-site-nav .link.current {
  color: var(--accent-color);
}
/* contact nav */
.portfolio-contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.portfolio-contact-nav .link {
  color: var(--primary-text-color);
}
.portfolio-contact-nav .link:hover,
.portfolio-contact-nav .link:focus {
  color: var(--accent-color);
}
/* portfolio button */
.button-portfolio {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio .secondary {
  color: var(--title-text-color);
  background-color: var(--button-secondary-color);
}

.portfolio-button .button-portfolio.secondary:hover {
  background-color: var(--accent-color);
  color: var(--button-secondary-color);
}

/* portfolio list */
.portfolio-list .title {
  color: var(--title-text-color);
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* portfolio footer */
.porfolio-footer {
  background-color: #2f303a;
}
.logo-porfolio-footer {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.portfolio-footer-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.portfolio-footer-contact .address {
  color: var(--primary-white-color);
}
.portfolio-footer-contact .address:hover,
.portfolio-footer-contact .address:focus {
  color: var(--accent-color);
}
.portfolio-footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-footer-contact .link:hover,
.portfolio-footer-contact .link:focus {
  color: var(--accent-color);
}